.fillable {
    margin-bottom: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em 0;
}
.input-container label {
    font-weight: bold;
}
input:focus {
    outline: none
}